<a href='https://bitbucket.org/InterVi/dewidgets' target='_blank'>Страница на BitBucket</a>
<h2>Главное меню</h2>
Двойной клик по элементу в списке открывает подробное описание виджета, где так же содержится справочная информация.<br/>
<ul>
    <li><b>Добавить</b> - добавляет выбранный виджет на рабочий стол;</li>
    <li><b>Удалить</b> - убирает выбранный виджет с рабочего стола (не путать с полным удалением виджета);</li>
    <li><b>Настроить</b> - открывает настройки виджета;</li>
    <li><b>Правка</b> - перемещение, изменение размеров и прозрачности выбранного виджета (если виджет поддерживает множество копий, каждый экземпляр редактируется в настройках виджета);</li>
    <li><b>перетаскивание</b> - вкл/выкл всплывающие панельки у виджетов для перетаскивания;</li>
    <li><b>Установить</b> - меню выбора <i>ZIP</i> архива с виджетом или набором виджетов, который будет установлен;</li>
    <li><b>Настройки</b> - меню основных настроек приложения;</li>
    <li><b>Выход</b> - закрытие приложения (со всеми виджетами).</li>
</ul>
<h2>Контекстное меню</h2>
<ul>
    <li><b>Загрузить все</b> - загружает не установленные на рабочий стол виджеты, чтобы они были доступны в меню (при активированной опции загрузки только установленных виджетов);</li>
    <li><b>Выгрузить не установленные</b> - выгрузить из памяти не установленные на рабочий стол виджеты (перестанут быть доступными в меню);</li>
    <li><b>Обновить</b> - выгрузить и снова загрузить все виджеты.</li>
</ul>
<h2>Контекстное меню значка в трее</h2>
<ul>
    <li><b>Показать</b> - открыть главное меню приложения;</li>
    <li><b>Скрыть виджеты</b> - скрыть/показать виджеты на рабочем столе;</li>
    <li><b>Настройки</b> - открыть меню настроек приложения;</li>
    <li><b>Выйти</b> - закрыть приложение и все виджеты.</li>
</ul>
<h2>Настройки</h2>
<ul>
    <li><b>Локализация</b> - изменить язык приложения и виджетов (потребуется перезапуск);</li>
    <li><b>Логирование</b> - установка уровня логирования (вывод в консоль и логи);</li>
    <li><b>Загружать только установленные</b> - не загружать не отображаемые на рабочем столе виджеты (не будут доступны в меню);</li>
    <li><b>Удалить виджеты</b> - открыть меню удаления сторонних виджетов и установленных архивов (стандартные виджеты удалить нельзя).</li>
</ul>
Есть ряд скрытых настроек, которые можно изменить только в конфиге:
<ul>
    <li><b>stdout</b> - формат лога stdout;</li>
    <li><b>stderr</b> - формат лога stdout;</li>
    <li><b>cons</b> - формат вывода в консоль.</li>
</ul>
Больше информации (документация Python):
<ul>
    <li><a href='https://docs.python.org/3/library/logging.html?highlight=logging#logging-levels'>Подробнее об уровнях логирования</a></li>
    <li><a href='https://docs.python.org/3/library/logging.html?highlight=logging#logrecord-attributes'>Подробнее о форматировании</a></li>
</ul>
<h2>Удаление виджетов</h2>
В меню удаления виджетов вы увидите список всех сторонних виджетов. Двойной клик по элементу в списке открывает подробную информацию о виджете. Чтобы удалить всё из установленного архива, нажмите <b>Архивы</b>.
Это меню аналогично предыдущему. В подробной информации содержится весь список файлов, которые были установлены или изменены.
После удаления всё возвращается к исходному состоянию, как будто архив не был установлен.
<h2>Ошибки</h2>
К сожалению, большинство из них происходят по вине разработчиков PyQt / Qt и не зависят от автора DeWidgets.<br/>
<ul>
    <li>При добавлении нового виджета и перемещении / масштабировании всё зависает (краш BadWindow). Помогает только убийство всех процессов DeWidgets. Если это происходит, используйте опцию <b>Обновить</b> из контестного меню, прежде чем работать с новым виджетом.</li>
    <li>При закрытии некоторых окон закрывается всё приложение.</li>
    <li>При выходе из ждущего режима и гибернации могут возникать различные ошибки.</li>
    <li>Выводится ошибка, что приложение уже запущено, хотя это не так. Решается удалением файла <b>.pid.lock</b>. Иногда, например, из-за некорректного закрытия, он сам не удаляется и в системе есть процесс с тем PID, что записан в файле.</li>
    <li>Перетаскивание не прекращается при отпускании левой кнопки мыши. Попробуйте дважды кликнуть по панельке.</li>
    <li>После работы с настройками виджета он выглядит не корректно. Используйте опцию <b>Обновить</b> из контекстного меню.
</ul>
В некоторых случаях могут помочь логи: <b>stdout.log</b> и <b>stderr.log</b>, чтобы в них было больше информации, установите уровень логирования не ниже <b>DEBUG</b>.
<h2>Параметры командной строки</h2>
<ul>
    <li><b>-p</b> <i>PATH</i>, <b>--paths</b> <i>PATH</i> - использование конфига с путями ко всем нужным директориям и файлам приложения;</li>
    <li><b>-c</b> <i>PATH</i>, <b>--create</b> <i>PATH</i> - создание и использование компонентов в указанной директории.</li>
</ul>
<b>DeWidgets -p /home/alex/paths.conf</b><br/>
В этом примере используется конфиг с путями. Пути могут быть произвольные - как удобно пользователю.<br/><br/>
<b>DeWidgets -c /home/alex/.dw</b><br/>
А в этом примере происходит создание структуры в выбранной директории и последующее использование именно этих путей. Создастся конфиг <i>paths.conf</i>, который можно посмотреть для примера. Именно этот вариант следует использовать для разделения пользовательских данных на одном ПК с несколькими учётными записями.
