QWidget {
    background: #7462D1;
}
QTextEdit {
    background: #8994E8;
    border-top: 1px solid #5748A8;
    color: black;
    padding: 3px;
    margin-top: 15px;
    font-family: serif;
    font-size: 12px;
    font-style: italic;
}
QScrollBar {
    height: 1px;
    width: 1px;
    background: #0A145E;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QScrollBar::handle {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: #1D2CA1;
}
