QWidget {
    background: #417A1B;
}
QTextEdit {
    background: #639C3D;
    border-top: 1px solid #24470C;
    color: black;
    padding: 3px;
    margin-top: 15px;
    font-family: serif;
    font-size: 12px;
    font-style: italic;
}
QScrollBar {
    height: 1px;
    width: 1px;
    background: #2D5215;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QScrollBar::handle {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: #56942C;
}
