QWidget {
    background: #F51BF1;
}
QTextEdit {
    background: #FF85FF;
    border-top: 1px solid #D604D3;
    color: black;
    padding: 3px;
    margin-top: 15px;
    font-family: serif;
    font-size: 12px;
    font-style: italic;
}
QScrollBar {
    height: 1px;
    width: 1px;
    background: #8C0A8A;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QScrollBar::handle {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: #C447C2;
}
