QWidget {
    background: #D6D6D6;
}
QTextEdit {
    background: white;
    border-top: 1px solid #949494;
    color: black;
    padding: 3px;
    margin-top: 15px;
    font-family: serif;
    font-size: 12px;
    font-style: italic;
}
QScrollBar {
    height: 1px;
    width: 1px;
    background: white;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
QScrollBar::handle {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: black;
}
